/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #3E0E12;
  --first-color-dark: #2F0A0D;
  --text-color: #524748;
  --first-color-light: #7B6F71;
  --first-color-lighten: #FBF9F9;

  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1-5: 1.5rem; 
  --mb-2-5: 2.5rem;
  

  /*===== z index =====*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
  
@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


/* section
{
    padding: 100px 10%;
} */

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
 
}



body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,ul,p{
  margin: 0;
}

h2,h3{
  font-weight: var(--font-semi-bold);
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS =====*/


/*===== LAYOUT =====*/

.bd-container
{
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid
{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    /* background-color: black; */

}



/*===== NAV =====*/

.nav
{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){

    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding-top: 1.5rem;
        text-align: center;
        /* background-color: #000; */
        transition: 0.7s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;

    }

    #about, #skills, #contact, #portfolio{
        margin: 40px;
    }

}

.nav__item
{
    margin-bottom: var(--mb-3);
}

.nav__link
{
    color: var(--first-color-lighten);
    transition: .3s;

}

.nav__link:hover{
    color: var(--first-color-light);

}

.nav__logo, .nav__toggle
{
    color: var(--first-color-lighten);
}

.nav__toggle
{
    font-size: 1.3rem;
    cursor: pointer;
}


/* Show menu */

.show-menu{

    top: var(--header-height);

}


/* Active menu */

.active-link
{
    position: relative;
}

.active-link::after
{
    content: '';
    position: absolute;
    bottom: -.7rem;
    left: 0;
    width: 65%;
    height: 3px;background-color: var(--first-color-light);
}


/* Change background header */

.scroll-header
{
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.scroll-header, .nav__logo, .nav__toggle, .nav__link
{
    color: var(--first-color-dark);
}
.nav__menu
{
    background-color: var(--first-color-lighten);
}

/*===== SCROLL TOP =====*/

.scrolltop{
    position: fixed;    
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: .5rem;
    background: rgba(123, 111, 137, .1);
    border-radius: .5rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility:hidden ;
    
}

.scrolltop:hover{
    background-color: var(--first-color);
}

.scrolltop__icon{
    font-size: 2rem;
    color: var(--first-color-lighten);
}


/* Show scroll top */

.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}


/*===== HOME =====*/

.home{
    display: flex;
    background-color: bisque;
    height: 100vh;
    width: 100%;
    background-image: url('/img/Nitiksha.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size:100vh;
    background-attachment: fixed;
}
.home .home__content{
    display: flex;
    /* margin-top: 150px;
    margin-left: 90px; */
    align-items:flex-start;
    text-align: center;
    justify-content: center;
    position: relative;
}

.home .home__text .text__one{

    font-size: 30px;
    font-size: var(--h3-font-size);
    /* margin-left: 200px; */
    

}
.home .home__text .text__two{

    font-size: 45px;
    /* margin-left: 200px; */
    font-weight: var(--font-semi-bold);
    margin-bottom: 0;

}
.home .home__text .text__three{

    font-size: 25px;
    font-size: var(--h2-font-size);
    /* margin-left: 200px; */}

    .home .home__button{
        /* margin-left: 200px; */
        margin-top: 15px;
    }

    .home .home__button button{
        outline: none;
        color: var(--first-color-lighten);
        background-color: var(--first-color);
        font-size: var(--font-medium);
        font-weight: var(--font-semi-bold);
        padding: 10px 20px;
        /* height: 50px;
        width: 200px; */
        border: 2px solid transparent;
        border-radius: 5px;
        cursor: pointer;
    }



/*BUTTONS*/


/*===== ABOUT =====*/


.section-title{
    font-size: var(--h1-font-size);
    color: var(--first-color-dark);
    text-decoration: underline;
}
.section-title{
    display: flex;
    padding-top: 1rem;
    justify-content: center;
}
.about__container{
    padding: 1rem;
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
}
.about__img
{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 300px;
    height:300px;
    background-color: var(--first-color);
    /* border-radius: 100%; */
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
}

.about__subtitle
{
    font-size: var(--h2-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-0-25);
}
.about__text{
    display: block;
    margin-bottom: var(--mb-0-5);
}
.about__proffesion{
    display: block;
    margin-bottom: var(--mb-0-5);
}
.about__social-icon{
    font-size: 1.4rem;
    margin: 0 var(--mb-0-5);
    color: var(--first-color-light);
}
.about__social-icon:hover{
    color: var(--first-color);
}


/*===== SKILLS=====*/

.skills__container
{
    row-gap: 10px;
    margin: 2px;

}
#skills__title{
    font-size: var(--h1-font-size);
    color: var(--first-color-dark);
    text-decoration: underline;
}
.skill__header
{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
    cursor: pointer;

}

.skills__icon, .skills__arrow
{
    font-size: 2rem;
    color: var(--first-color-dark) ;
}

.skills__icon{
   margin-right: var(--mb-0-75);
}

.skills__title
{
    font-size: var(--h2-font-size);
}
.skills__number
{
    font-size: var(--small-font-size);
    color: var(--text-color);
}
.skills__arrow
{
    margin-left: auto;
    transition: .4s;
}

.skills__list
{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills__title
{
    display: flex;
    justify-content: space-around;
    margin-bottom: var(--mb-0-5);
}

.skills__content{
    box-shadow: 8px 4px 8px rgba(0, 0, 0, .1);
    padding-bottom:.2rem;
}
.skills__name
{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.skills__bar, .skills__percentage
{
    height: 5px;
    border-radius: .25px;
}
.skills__bar
{
    margin: 10px;
    border-radius: 5px;
    background-color: var(--first-color-light);
}
.skills__percentage
{
   
    border-radius: 5px;
    display: block;
    background-color: var(--text-color);
}

.skills__html
{
    width: 94%;
}
.skills__css
{
    width: 91%;
}
.skills__javascript
{
    width: 81%;
}
.skills__react
{
    width: 78%;
}
.skills__php
{
    width: 75%;
}
.skills__mysql
{
    width: 80%;
}
.skills__node
{
    width: 59%;
}
.skills__python
{
    width: 55%;
}
.skills__figma
{
    width: 85%;
}
.skills__illustrator
{
    width: 89%;
}
.skills__photoshop
{
    width: 69%;
}
.skills__close .skills__list{
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list{
   height: max-content;
   margin-bottom: var(--mb-2-5);
}
.skills__open .skills__arrow{
   transform: rotate(-180deg);
 }


 


































/*===== SERVICES =====*/


/*===== PROJECT IN MIND =====*/


/*===== PORTFOLIO =====*/

.portfolio__nav{
    text-align: center;
    margin-bottom: var(--mb-3);
}

.portfolio__item{
    margin: 0 var(--mb-2);
    cursor: pointer;

}
.portfolio-title{

    display: flex;
    font-size: var(--h1-font-size);
    color: var(--first-color-dark);
    text-decoration: underline;
    justify-content: space-around;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}

.portfolio__content{
    background-color: #fff;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}

.portfolio__img{
    width: 100%;
    transition: .4s;

}
.portfolio__data{
    padding: 1.5rem;
}
.portfolio__subtitle{
    font-size: var(--small-font-size);
    color: var(--first-color-light);
}
.project__title{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin: var(--mb-2) 0;

}
.portfolio__content:hover{
    box-shadow: 0 6px 8px rgba(174, 190, 205, .3);
}
.portfolio__content:hover .portfolio__img{
    transform: scale(1.02);
}

.button-link{
    color: var(--first-color);
}




/* Active menu portfolio*/

.active-portfolio{
    color: var(--first-color-dark);
    font-weight:var(--font-semi-bold) ;
}


/*===== TESTIMONIAL =====*/


/*===== CONTACTME =====*/

.contact__container{
    row-gap: 3rem;

}

.section__title{
    font-size: var(--h1-font-size);
    color: var(--first-color-dark);
    text-decoration: underline;
}
.contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
}
.contact__icon{
    font-size: 2rem;
    color: var(--first-color-dark);
    margin-right: var(--mb-0-75);
}
.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);

}
.contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--first-color-light);
}
.contact__content
{
    border-radius: 12px;
    padding: 1rem;
}
.contact__input{
    width: 100%;
    color: var(--first-color);
    font-size: var(--body-font);
}
.contact__lable{
    font-size: var(--small-font-size);

}
.contact__center{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center  ;
}























/* .contact .contact-content .column{
    width: 100%;
    margin-bottom: 35px;
}
.contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
} */


/*===== FOOTER =====*/

.footer__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    height: 150px;
}

.footer__content{
    margin-top: 40px;
}


/*===== MEDIA QUERIES =====*/


@media screen and (min-width: 768px){

    #about, #skills, #contact, #portfolio{
        margin: 100px;
    }

    /* NAVIGATION */

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__list
    {
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-5);
        margin-bottom: 0;

    }
    .nav__toggle{
        display: none;
    }


    /* HOME */


    .home{
        background-color: bisque;
        height: 100vh;
        width: 100%;
        background-image: url('/img/Nitiksha.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size:105vh;
        background-attachment: fixed;
    }
    .home .home__content{
        height: 100vh;
        width: 100%; 
        display: flex;
        align-items:self-start;
        flex-direction: column;
        justify-content: center;
    }
    .home .home__text .text__one{

        font-size: 30px;
        font-size: var(--h3-font-size);
        margin-left: 200px;
        

    }
    .home .home__text .text__two{

        font-size: 60px;
        margin-left: 200px;
        font-weight: var(--font-semi-bold);
        margin-bottom: 0;

    }
    .home .home__text .text__three{

        font-size: 55px;
        font-size: var(--h2-font-size);
        margin-left: 200px;

    }
    .home .home__button{
        margin-left: 200px;
        margin-top: 15px;
    }

    .home .home__button button{
        outline: none;
        color: var(--first-color-lighten);
        background-color: var(--first-color);
        font-size: var(--font-medium);
        font-weight: var(--font-semi-bold);
        padding: 10px 20px;
        /* height: 50px;
        width: 200px; */
        border: 2px solid transparent;
        border-radius: 5px;
        cursor: pointer;
    }


    /* ABOUT */
 
    .section-title{
        font-size: var(--h1-font-size);
        color: var(--first-color-dark);
        text-decoration: underline;
        margin: 2rem;
    }
 
    .about__container{
        margin-top: 2rem;
        display: grid;
        gap: 0;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
        padding:2rem ;
    }
    .about__img{
        width: 450px;
        height: 450px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 4%;
        border-bottom-right-radius: 4%;
    }

    .about__subtitle
    {
        font-size: var(--h1-font-size);
        color: var(--first-color-dark);
        margin-bottom: var(--mb-2);
    }
    .about__text{
        font-size: var(--body-font);
        display: block;
        margin-bottom: var(--mb-1);
    }
    .about__proffesion{
        display: block;
        font-size: var(--h3-font-size);
        margin-bottom:var(--mb-2);
    }
    .about__social-icon{
        font-size: 1.4rem;
        margin-top:var(--mb-2);
        color: var(--first-color-light);
    }


    /* SKills */

        .skills{
            margin-top: 100px;
        }
        #skills__title{
            font-size: var(--h1-font-size);
            color: var(--first-color-dark);
            text-decoration: underline;
        }
        .skills__container{
            margin: 2rem;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 10px;
            /* box-shadow: 0 2px 4px rgba(0, 0, 0, .1); */
        }

        .skills__content{
            box-shadow: 8px 4px 8px rgba(0, 0, 0, .1);
        }



        /* PORTFOLIO */

        .portfolio__container{
            grid-template-columns: repeat(3,1fr);
        }

        .portfolio-title{

            display: flex;
            font-size: var(--h1-font-size);
            color: var(--first-color-dark);
            text-decoration: underline;
            justify-content: space-around;
            font-weight: var(--font-semi-bold);
            margin-bottom: var(--mb-0-5);
        }
     





    /* Conctat Me  */

    .contact__center{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center  ;
    }
    .contact__container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .contact__form{
        width: 460px;

    }




























    /* 
    .contact{
        margin: 2rem;
    }
    .contact .title{
        display: flex;
        justify-content: center;
    }
    .contact .contact-content
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .contact .contact-content .column
    {
        width: calc(50% - 30px);
    }
    .contact .contact-content .text{
        font-size: 18px;
        font-weight: var(--font-medium);
       
    }
    .contact .contact-content .left p{
        text-align: justify;
    }
    .contact .contact-content .left .icons{
        margin: 10px 0;
    }
    .contact .contact-content .row{
        display: flex;
        height: 65px;
        align-items: center;
    }
    .contact .contact-content .row .info{
        margin-left: 30px;
    }

    .contact .right form .fields{
        display: flex;
    }
    .contact .right form .field,
    .contact .right form .fields .field .textarea textarea{
        margin: 10px;
        height: 45px;
        width: 100%;
    }
    .contact .right form .field input {
        height: 100%;
        width: 100%;
        border: 1px solid var(--first-color-light);
        border-radius: 1.5px;
        outline: none;
        padding: 0 15px;
        font-size: var(--normal-font-size);
    }
    .contact .right form .fields .field .textarea textarea{
        resize: none ;
    }
    .contact .right form .button{
        height: 45px;
        width: 180px;
        
    }
    .contact .right form .button button{
        top: -15rem;
        height: 100%;
        width: 100%;
    } */
        

    /* FOOTER */
    .footer__info{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background-color:bisque ;
        height: 170px;
    }

    .footer__content{
        margin-top: 25px;
        margin-left: 180px;
    }

    .footer__content .nav__logo{
        font-size: var(--h1-font-size);
        margin-left: 100px;
        margin-top: 50px;
    }
    .footer__content .about__proffesion{
        font-size: var(--h1-font-size);
        margin-left: 100px;
        
    }

    .footer__social{
        margin-top: 50px;
        margin-left: 250px;
    }

    .footer__social .about__social-icon{
        font-size: var(--h1-font-size);
        
        

    }

     

}